header {
  padding-top: 120px;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  background-color: #004d33;
}

main {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  background-color: #004d33;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
